@import "tailwindcss";

:root {
  --color-primary: #4225B3;
  --color-primary-70: rgba(66, 37, 179, 70);
  --color-primary-50: #472cb3;
  --color-primary-40: #5237c0;

  --color-secondary: #f08c3e;
  --color-tertiary: #faf8f8;

  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-primary-70: var(--color-primary-70);
  --color-primary-50: var(--color-primary-50);
  --color-primary-40: var(--color-primary-40);

  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --breakpoint-hu: 100rem;
}

.nunito {
  font-family: 'Nunito' !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-tertiary);
  color: var(--color-primary);
}
