
:root {
    --carousel-duration: 25s;
}

.carousel {
    animation: back var(--carousel-duration) infinite linear;
}

@keyframes back {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(-100%);
    }
}
